{{> navbar}}

<div class="container-fluid">
    <div class="row mt-4 justify-content-center">
        <div class="col-6 form-container">
            <h2 class="text-center mb-4">Login de usuario 🙋</h2>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Ingrese su nombre</label>
                    <input id="name" type="text" class="form-control" name="name" placeholder="John Doe" required>
                </div>
                <input class="btn mx-auto d-block form-btn" type="submit" value="Login"/>
            </form>
        </div>
    </div>
</div>

<script src="/login.js"></script>